streamlit
pandas
numpy
opencv-python-headless
Pillow
plotly
requests
scipy
statsmodels
openpyxl
xlsxwriter
scikit-learn
joblib
ydata-profiling
streamlit-pandas-profiling
streamlit-drawable-canvas
tensorflow
matplotlib
python-dotenv
